* {
    margin: 0;
    padding: 0;
}
body {
    background-color:#171717;
    color: #dedede;
    line-height: 20px;
    text-align: justify;
    font-family: roboto;
    
}
header {
    display:flex;
    align-items: center;
    background-color: #212121;
}
.logo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo img {
    width: 100px;
    padding-right: 5px;
   
}
nav {
    flex: 2;
    display: flex;
    justify-content: center;
}
ul {
    display: inline-flex;
    list-style: none;
}
li {
    padding-right: 50px;
}
main {
    padding-left: 15%;
    padding-right: 15%;
    
}
h1 {
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #ffffff;
}
h2 {
    font-size: 25px;
    padding-bottom: 30px;
    padding-top: 30px;
    color: #ffffff;
}
body p {
    text-indent: 25px;
    
}
body p strong {
    color: #ffffff;
}
body p b {
    color: #ffffff;
    
}
#exemplo {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: #dedede 1px solid;
    
}
.verde {
    background-color: #00ff00;
    font-weight: bold;
    
}
.vermelho {
    background-color: #ff0000;
    font-weight: bold;

}
.azul {
    background-color: #0000ff;
    font-weight: bold;
}
#button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}
#button button, #exemploBotao button {
    margin:5px;
    padding: 5px;
}
.branco {
    background-color: #ffffff;
}
#exemploBotao {
    text-align: center;
}